{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
					<div class="inner">

						<!-- Header -->
						<header id="header" style="padding-top: 3.5em">
							<div style="text-align: center;">
								<span style="float: left;"><a href="/" style="border-bottom: none;"><img src="{{ url_for('static', filename='images/menuLogo.png') }}" alt="" style="max-height: 40px;"/></a></span>
								<span style="float: right; padding-top: 12px;">Logged in as <strong>Colin</strong></span>
							</div>
						</header>

						<!-- Banner -->
						<section id="banner" style="padding-top: 2em">
							<div class="content">
								<header>
									<div contenteditable>
									<h1>Order with
										<span style="color: #00A99D">Me</span>.n<span style="color: #00A99D">u</span>
									</h1>
									</div>
									<!-- <h1>Me.nu</h1> -->
									<p>Never worry again about what to order</p>
								</header>
								<p>Eating out at a new spot? Me.nu will find the dishes that are tried and true favorites, guaranteed to satisfy whatever craving you might have.</p>
								<p>Maybe you’ve been there before or eaten at similar places? Me.nu will take your custom preferences, past reviews, and past me.nus and find you eats you’ll love without breaking the bank. </p>	
								<p>Me.nu is the new way to dine at any restaurant. Simply enter some of your basic preferences in the “my profile” tab, make sure you have us bookmarked, and never worry about ordering the wrong thing again. </p>
								<ul class="actions stacked">
									<li><a href="/chooseMenu" class="button primary fit">Find a Me.nu</a></li>
								</ul>
							</div>
							<span class="image object">
								<img src="{{ url_for('static', filename='images/menuLogo.png') }}" alt="" />
							</span>
						</section>
					</div>
				</div>

			<!-- Sidebar -->
				<div id="sidebar">
					<div class="inner">
						<!-- Section -->
						<section>
							<header class="major">
								<h2>User Preferences</h2>
							</header>
							<form method=post>
								<header class="major">
									<h3>Budget</h3>
								</header>
								<p>How much are you looking to spend on a single dish?</p>
								<input type="text" name="budget" value="15">

								<br />

								<header class="major">
									<h3>Dietary Restrictions</h3>
								</header>
								<div>Are you vegetarian?<br />
									<input type="radio" id="yesVeg" name="diet-veg" value="True">
									<label for="yesVeg">Yes</label>
									<input type="radio" id="noVeg" name="diet-veg" value="False" checked>
									<label for="noVeg">No</label>
								</div>

								<div>Are you allergic to tree nuts?<br />
									<input type="radio" id="yesNut" name="diet-nut" value="True">
									<label for="yesNut">Yes</label>
									<input type="radio" id="noNut" name="diet-nut" value="False" checked>
									<label for="noNut">No</label>
								</div>

								<div>Enter any foods you would like to exclude (separated by commas).
									<input type="text" name="diet-exclude" value="chili, peanut">
								</div>
								<br />
								<ul class="actions stacked">
									<li><input type="submit" class="button primary fit" value="Save Preferences"></li>
								</ul>
							</form>

							<header class="major">
								<h3>Past Meals You've Liked</h3>
							</header>
							<p>Based on your Yelp account.</p>
							<div class="mini-posts">
								<article>
									<a href="#" class="image"><img src="{{ url_for('static', filename='images/sushi.jpg') }}" alt="" /></a>
									<h3>Tamashi Sushi Sashimi Combo</h3>
								</article>
								<article>
									<a href="#" class="image"><img src="{{ url_for('static', filename='images/beefNoodle.jpg') }}" alt="" /></a>
									<h3>Noodle House Beef Noodle Soup</h3>
								</article>
								<article>
									<a href="#" class="image"><img src="{{ url_for('static', filename='images/roastbbq.jpg') }}" alt="" /></a>
									<h3>Hong Kong Food Street Roast BBQ Pork</h3>
								</article>
							</div>
						</section>
					</div>
				</div>
		</div>
{% endblock %}