{% extends 'base.html' %}

{% block head %}
<script>
    console.log('{{ menuData | tojson | safe }}')
</script>
{% endblock %}

{% block body %}

	<!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header" style="padding-top: 3.5em">
                    <div style="text-align: center;">
                        <span style="float: left;"><a href="/" style="border-bottom: none;"><img src="{{ url_for('static', filename='images/menuLogo.png') }}" alt="" style="max-height: 40px;"/></a></span>
                        <span style="float: right; padding-top: 12px;">Logged in as <strong>Colin</strong></span>
                    </div>
                </header>
                <section>
                    <header class="major">
                        <h2>Suggested Menu</h2>
                    </header>

                    <header class="major">
                        <h3>Top Choices!</h3>
                    </header>
                    {% for itemName in topItems %}
                        <h4>{{ loop.index }}. {{ itemName.capitalize() }}</h4>
                        <p>Price: ${{ menuData[itemName]['price'] }} | Score: {{ menuData[itemName]['totalscore'] }}</p>
                    {% endfor %}

                    <header class="major">
                        <h3>Other Great Dishes!</h3>
                    </header>
                    {% for itemName in otherItems %}
                        <h4>{{ loop.index + 3 }}. {{ itemName.capitalize() }}</h4>
                        <p>Price: ${{ menuData[itemName]['price'] }} | Score: {{ menuData[itemName]['totalscore'] }}</p>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}