{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/webcam.js') }}"></script>
{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header" style="padding-top: 3.5em">
                <div style="text-align: center;">
                    <span style="float: left;"><a href="/" style="border-bottom: none;"><img src="{{ url_for('static', filename='images/menuLogo.png') }}" alt="" style="max-height: 40px;"/></a></span>
                    <span style="float: right; padding-top: 12px;">Logged in as <strong>Colin</strong></span>
                </div>
            </header>
            <section>
                <header class="major">
                    <h2>Take a picture of the menu</h2>
                </header>
                <div id="my_camera" style="width:320px; height:240px;"></div>

                <a href="javascript:void(take_snapshot())">Take Snapshot</a>

                {% if pic_error %}
                    <p style="color:red;">Picture was not clear, please try again.</p>
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock %}